.chart {
    display: block;
    height: 50vh;

    canvas {
        max-width: 100%;
        max-height: 100%;
    }
}

.heading {
    p {
        text-decoration: underline;
        font-size: 23px;
        font-weight: 900;
    }
}