<!-- <div class="select-options">
    <div>
        <select name="axis" id="axis" [(ngModel)]="axis" (ngModelChange)="reChart()">
            <option value="y">Horizontal Bar Chart</option>
            <option value="x">Vertical Bar Chart</option>
        </select>
    </div>
</div> -->


<div class="charts">
    <div class="non-stacked">
        <app-non-stacked-chart></app-non-stacked-chart>
    </div>

    <div class="stacked">
        <app-stacked-chart></app-stacked-chart>
    </div>
</div>