<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer top-header">
    Bar Charts
  </div>
</div>

<!-- <div class="row" >
    
  <div class="choices">
    <div class="parentCheckbox padding-around">         
      <div class="form-check">
        <input class="form-check-input checkbox-round" type="checkbox"  id="flexCheckDefault" (change)="reChart()">
        <label class="form-check-label checkbox-heading" for="flexCheckDefault">By Count</label>
      </div>
      <div class="childCheckbox ml-10">
        <div class="form-check padding-around-5" *ngFor="let item of chartService.attempt_labels">
          <input class="form-check-input checkbox-round-child" type="checkbox" [value]="item.key" [checked]="item.active" id="flexCheckDefault" (change)="updateGraph()">
          <label class="form-check-label bold-child" for="flexCheckDefault">{{item.value}}</label>
        </div>
      </div>
    </div>
    <div class="parentCheckbox padding-around">         
      <div class="form-check">   
        <input class="form-check-input checkbox-round" type="checkbox" [value]="" [checked]="" id="flexCheckDefault" (change)="reChart()">       
        <label class="form-check-label checkbox-heading" for="flexCheckDefault">By Percentage</label>
      </div>
      <div class="childCheckbox ml-10">
        <div class="childCheckbox">
          <div class="form-check padding-around-5" *ngFor="let item of chartService.correct_labels">
            <input class="form-check-input checkbox-round-child"  type="checkbox" [value]="item.key" [checked]="item.active" id="flexCheckDefault" (change)="updateGraph()">
            <label class="form-check-label bold-child" for="flexCheckDefault">{{item.value}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph" >
    <app-chart [updates]="timestamp" ></app-chart>
  </div>

</div> -->

<app-chart></app-chart>

<router-outlet></router-outlet>